# ....python basics

In [1]:
#Basics
x = 10
y = 3
print("10 divided by 3 is", x/y)

10 divided by 3 is 3.3333333333333335

# ..........Assigning Values to Variables

In [2]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

100
1000.0
John

# .................Operators

# ....Arithmatic operators

In [3]:
#Arithmetic Operators:
a = 21
b = 10
c = 0
 
#addition    
c = a + b
print ( c )

#substraction
c = a - b
print ( c )
 
#Multiplication    
c = a * b
print ( c )
 
#Devision    
c = a / b
print ( c )


c = a % b
print ( c )
a = 2
b = 3
c = a**b
print ( c )

31
11
210
2.1
1
8

# ....Comparison & Logical Operators

In [4]:
#Comparison & Logical Operators
x = 100
x > 80 and x <=95

False

In [5]:
# Comparision operators
a = 21
b = 10
c = 0
 
if ( a == b ):
   print ("a is equal to b")
else:
   print ("a is not equal to b")
 
if ( a != b ):
   print ("a is not equal to b")
else:
   print ("a is equal to b")
 
if ( a < b ): print ("a is less than b")
else: 
    print ("a is not less than b") 
 
if ( a > b ):
   print ("a is greater than b")
else:
   print ("a is not greater than b")
 
a = 5
b = 20
if ( a <= b ): print ("a is either less than or equal to b")
else: 
    print ("a is neither less than nor equal to b") 
 
if ( a >= b ):
   print ("a is either greater than  or equal to b")
else:
   print ("a is neither greater than  nor equal to b")

a is not equal to b
a is not equal to b
a is not less than b
a is greater than b
a is either less than or equal to b
a is neither greater than  nor equal to b

# ....Assignment Operators:

In [6]:
#Assignment Operators:
a = 21
b = 10
c = 0
 
c = a + b
print ( c )
 
c += a           # c = c + a   here c=31 ---> c=31+21 = 52
print ( c )
 
c *= a         # c = c * a    here c=52 ---> c=52*21 = 1092
print ( c )
 
c /= a       
print ( c )
 
c  = 2
c %= a
print ( c )
 
c **= a        #c **= a ---> c = c ** a
print ( c )

31
52
1092
52.0
2
2097152

In [7]:
#multiple assignment 
a,b=4,5
print(a,b)

4 5

# ......................Python Data Structure

# ...1  List

In [8]:
#...1  List
x = [1, 2, 3, 4, 5]
x[0]      #Indivisual elements of a list can be accessed by writing the index number in square bracket

1

In [9]:
x[-1]    #selects the last element from list.

# x[:3] ...returns [1, 2, 3]

5

In [10]:
x[:3]

[1, 2, 3]

In [11]:
#adding new value into list
x[2]=56
x
# x+[4,5]   #Add two items

[1, 2, 56, 4, 5]

In [12]:
#Sum of values of two list
X = [1, 2, 3]
Y = [4, 5, 6]
import numpy as np
Z = np.add(X, Y)
print(Z)               #Z = X + Y   add two lists ...returns [1, 2, 3, 4, 5, 6]

[5 7 9]

In [13]:
#Add 5 to each element
x = [1, 2, 3, 4, 5]
for i in range(len(x)):
    x[i] = x[i] + 5
print(x)

[6, 7, 8, 9, 10]

In [14]:
#repeat list n times
X = [1, 2, 3]
Z = X * 3
print(Z)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
#Modify / Replace a list item
X = [1, 2, 3]
X[2]=5
print(X)

[1, 2, 5]

In [16]:
#Add / Remove a list item
X = ['AA', 'BB', 'CC']
X.append('DD')          #add item use append
print(X)                #remove item use : X.remove('BB')

['AA', 'BB', 'CC', 'DD']

In [17]:
#sort list
k = [124, 225, 305, 246, 259]
k.sort()
print(k)

[124, 225, 246, 259, 305]

# ...2 string

a string can be simply defined by single(') double(") and triple('")

In [18]:
#.....2 string
mystring = "Hello Python3.6"
print(mystring)

Hello Python3.6

In [19]:
#length of string
print(len(mystring))

15

In [20]:
#How to extract Nth letter or word?
mystring = 'Hi How are you?'
mystring[0]

'H'

In [21]:
#To get first word
mystring.split(' ')[0]

'Hi'

In [22]:
#Manipulating Strings
#String Concatenation
str = "welcome " + "to Python"
print (str)

welcome to Python

In [23]:
#String Multiplication
str = "LikeGeeks" * 2
print (str)

LikeGeeksLikeGeeks

In [24]:
#Search for a Substring
str = "welcome to likegeeks website"
print(str.find("likegeeks"))

11

In [25]:
#Get Substrings
str = "first second third"
print(str[:2])
print(str[6:13])

fi
second

In [26]:
#Replace strings

str = "This website is about programming"
str2 = str.replace("This", "That")
print(str2)

That website is about programming

In [27]:
#If you have many occurrences and you want to replace the first occurrence only, you can specify that:

str = "This website is about programming I like this website"
str2 = str.replace("website", "page",1)
print(str2)

This page is about programming I like this website

In [28]:
#Strip Strings   -trim white spaces 

str = "   This website is about programming    "
print(str.strip())

This website is about programming

In [29]:
#Change Character Case
str="Welcome to likegeeks"
print(str.upper())
print(str.lower())

WELCOME TO LIKEGEEKS
welcome to likegeeks

In [30]:
#Convert Strings to Numbers
str="10"
str2="20"
print(str+str2)
print(int(str)+int(str2))

1020
30

In [31]:
#Count Strings
str="welcome to likegeeks website"
print(min(str))
print(max(str))
print(len(str))

w
28

In [32]:
#Encode Strings 
#If you are using Python 3, all strings are stored as Unicode strings by default

str="welcome to likegeeks website"
str.encode('utf-8')

b'welcome to likegeeks website'

# ...3 tuple

In [33]:
#.....3 tuple : contain mixed data...But cannot be changed or altered...use '( )'
mytuple = (123,223,323)
mytuple

(123, 223, 323)

In [34]:
# Second letter in the string
mytuple[2]

323

In [35]:
#Number of values separated by commas 
tuple=0, 1, 2, 3, 4, 5
tuple

(0, 1, 2, 3, 4, 5)

# ...4 Dictionary

In [36]:
#.....4 Dictionary
teams = {'Dave' : 'team A',
         'Tim' : 'team B',
         'Babita' : 'team C'}
teams['Tim']                        # delete an item: del teams['Ravi']  ....#add item: teams['Deep'] = 'team B'

'team B'

# ...5 Sets

In [37]:
#.....5 Sets
X = set(['A', 'B', 'C'])
'A' in X                    # add set: X.add('D') ...#remove: X.remove('C') ...
                            #create copy: Y = X.copy() ...#common item in x and Y : Y & X

True

In [38]:
#operations on set
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A - B)

{1, 2, 3}

In [39]:
#boolean
a = True
b = False 
print(a,b)

True False

# .......Conversion of float and integer

In [40]:
A = 10
# Convert it into float type
B = float(A)
print(B)

10.0

In [41]:
A = 10.76
# Convert it into integer type
B = int(A)
print(B)

10

# ......Manipulating numbers

In [42]:
#Manipulating numbers
#If you have float number you can round it, using int() function like this:

a=15.5
print(int(a))

15

In [43]:
#Round Numbers

a=15.5652645
print(round(a,2))

15.57

# ....Generate Random Numbers

In [44]:
#Generate Random Numbers
import random
print(random.random())        #The generated number is between 0.0 and 1.0.

0.6844529379610752

In [45]:
import random
numbers=[1,2,3,4,5,6,7]
print(random.choices(numbers))    #You can generate a random number from your choices like this:

[3]

# .......Manipulating Dates and Times

In [46]:
#Manipulating Dates and Times
import datetime
 
cur_date = datetime.datetime.now()
print(cur_date)
print(cur_date.year)
print(cur_date.month)
print(cur_date.day)
print(cur_date.weekday())
print(cur_date.time())

2018-03-27 14:11:22.793928
2018
3
27
1
14:11:22.793928